VITE_API_URL_BASIC = "https://localhost:7261"
VITE_API_URL = "https://localhost:7261/api/v1"
VITE_API_GOOGLE_AUTH_API = "https://localhost:7261/api/v1/Auth/Login/Google?returnUrl=https://localhost:7261/login"