VITE_API_URL_BASIC = "https://localhost:7261"
VITE_API_URL = "https://localhost:7261/api/v1"
VITE_API_GOOGLE_AUTH_API = "https://localhost:7261/api/v1/Auth/Login/Google?returnUrl=https://localhost:7261/login"


VITE_API_URL_BASIC = "/backend"
VITE_API_URL = "/api/v1"
VITE_API_GOOGLE_AUTH_API = "https://oauth.studynest.click/api/v1/Auth/Login/Google?returnUrl=https://study-nest.id.vn/login"